<table>
  <% if @consultation_requests.empty? %>
    <p>No consultation requests</p>
  <% else %>
    <% @consultation_requests.each do |consultation_request| %>
      <tr>
        <td class="inbox-time"><%= inbox_time(consultation_request.created_at) %></td>
        <td><%= "Consultation request from #{consultation_request.client_name}" %></td>
        <td><%= link_to 'View', consultation_request_path(consultation_request) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
