<% content_for :home do %>
  <div class="splash vision">
    <%= render 'splash_header' %>
    <div class="testimony"><%= t '.statement' %></div>
    <div class="vision-text"><%= t '.text_html' %></div>
    <%= render 'splash_footer' %>
  </div>
<% end %>
