<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @application.full_name %> has applied.</p>
    <p>Review the <%= link_to 'application', application_url(@application) %>.</p>
  </body>
</html>
