<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield %>
    <p><%= t '.sincerely' %></p>
    <p><%= t '.legal_lighthouse' %></p>
  </body>
</html>
